.background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    animation: fadeBg 0.6s ease;
}



@keyframes fadeBg {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
